@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&display=swap");

:root {
  --primary-color: #f59e0b;
  --dark-gray: #6b7280;
  --off-white: #f3f4f6;
}

body {
  font-family: "Open Sans", sans-serif;
  margin: 0px;
}

hr {
  margin: 2rem 0rem;
}

/** container **/
.container {
  padding: 0 rem 1 rem;
}

.container-center {
  max-width: 600px;
  margin: auto;
}

/** links **/

.link {
  text-decoration: none;
  padding: 0.5rem 1rem;
  margin-right: 1rem;
}

.primary-link {
  background-color: var(--primary-color);
  border-radius: 0.5rem;
  color: white;
}

.secondary-link {
  border-radius: 0.5rem;
  color: var(--primary-color);
  border: 1px solid var(--primary-color);
}

/** lists **/

.list-non-bullet {
  list-style: none;
  padding-inline-start: 0px;
}

.showcase-list {
  padding: 2rem;
}



.list-item-inline {
  display: inline;
  padding: 0rem 0.2rem;
  justify-items: auto;
}

.navigation {
  background-color: var(--primary-color);
  color: white;
  padding: 1rem;
  border-bottom-left-radius: 1rem;
  
}

.nav-brand {
  font-weight: bold;
  font-size: 1.1rem;
}

.nav-pills {
  color: white;
  text-align: right;
  
}

.navigation .link {
  color: white;
}

.navigation .link-active {
  font-weight: bold;
}

/** header **/

.hero {
  padding: 2rem;
  padding-top: 5rem;
}

.hero .hero-img {
  max-width: 300px;
  display: block;
  margin: auto;
}

.hero .projects-img {
  max-width: 300px;
  display: block;
  margin: auto;
}

.hero .hero-heading {
  color: #6b7280;
  padding-top: 1rem;
  text-align: center;
}

.hero .hero-heading .heading-inverted {
  color: var(--primary-color);
}

/** section **/

.section {
  padding: 2rem;
}

.section h1 {
  text-align: center;
}

.ow {
  background-color: var(--off-white);
}

/** footer **/

.footer {
  background-color: var(--primary-color);
  padding: 2rem 1rem;
  text-align: center;
  color: white;
  border-top-right-radius: 1rem;
}

.footer .footer-header {
  font-weight: bold;
  font-size: large;
}

.footer .link {
  color: whitesmoke;
}

.footer ul {
  padding-inline-start: 0px;
}

.space {
  padding: 1rem;
}

/**icons**/
 .fa {
  padding: 20px;
  font-size: 30px;
  width: 50px;
  text-align: center;
  text-decoration: none;
} 

/**hover**/
.fa:hover {
  opacity: 0.7;
}

/**icons-style2**/
/* 
 .fa {
  padding: 20px;
  font-size: 30px;
  width: 30px;
  text-align: center;
  text-decoration: none;
  border-radius: 50%; */
} */

p {
  text-justify: auto;
}